.container {
  width: 20%;
  height: 200px;
  background-color: hsl(216, 12%, 54%);
}

.container h2,
p {
  width: 100%;
  margin: auto;
  padding-left: 5%;
  padding-bottom: 5%;
}
button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
/*move text over to center*/
/*spacing between the numbers*/
/*icon place in circle, move over the word "How"*/
/*style button*/
