.container {
  width: 500px;
  height: 600px;
  background-color: hsl(216, 4%, 26%);
  border-radius: 30px;
}

.container h2,
p {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
}
h2 {
  padding-top: 20%;
  color: white;
  font-size: 35px;
}
p {
  color: grey;
  font-size: 20px;
}
button {
  width: 70%;
  padding: 25px;
  margin-left: 50px;
  border-radius: 50px;
  color: white;
  background-color:hsl(25, 97%, 53%);
  font-size: 20px;
}
button {
  text-transform: capitalize;
}
ul {
  list-style: none;
  display: flex;
 justify-content: space-around;
 position: relative; left: -7%;
 font-size: 26px;
}
svg {
  position: relative;
  left: 15px;
  top: 15px;
}
.circle {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  left: 30px;
  top: 30px;
}

.circle svg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}



/*icon place in circle, move over the word "How"*/
/*style button*/
